@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="Home/DoLogin">
    <div>
        <div>
            <label for="txtUser">User Name:</label>
            <input type="text" id="txtUser" required placeholder="Enter UserID" />
        </div>
        <div>
            <label for="txtpwd">Password:</label>
            <input type="password" id="txtpwd" required placeholder="Enter Password" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </div>
</form>

<div>
    <a href="Home/SayHello?name=Jaganath">SayHello</a>
</div>

<div>
    <a href="Home/Add?x=100&y=30">Add</a>
</div>

<div>
    <a href="Home/Product?x=100&y=30">Product</a>
</div>

<div>
    <a href="Home/Divide?x=100&y=30">Divide</a>
</div>

<div>
    <a href="Home/AddNewBook">New Book </a>
</div>
<div>
    <a href="Home/ListAllBook">All Books </a>
</div>
<div>
    <a href="NewAuthor/NewAuthor">Author</a>
</div>
<div>
    <a href="Author">Author List </a>
</div>

<div>
    <a href="Emp">Employee List</a>
</div>

<div>
    <a href="Movie">Movie List</a>
</div>
    
