
@{
    ViewData["Title"] = "IndexPost";
}

<h1>IndexPost</h1>

<div>
    <h3>ViewData:@ViewData["x"]</h3>
    <h3>TempDataX:@TempData["globalX"]</h3>
    <h3>ViewData: @ViewData["globaly"]</h3>
</div>

