@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<hr />
<h1>Andhaman Beaches List</h1>

<u1>
    <li>RadhaNagar</li>
    <li>Neal Island</li>
    <li>Ross Island</li>
    <li> Wandoor</li>
</u1>

